* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  width: 100%;
}

:root {
  --tomato: hsl(4, 100%, 67%);
  --tomato1: hsla(4, 100%, 67%, 0.463);
  --tomato2: hsl(0, 100%, 97%);
  --DarkSlateGrey: hsl(234, 29%, 20%);
  --CharcoalGrey: hsl(235, 18%, 26%);
  --Grey: hsl(231, 7%, 60%);
  --White: hsl(0, 0%, 100%);
}

body {
  background-color: var(--CharcoalGrey);
  display: flex;
  justify-content: center;
  align-content: center;
  font-family: "Big Shoulders Display", cursive;
  font-family: "Lexend Deca", sans-serif;
  font-family: "Roboto", sans-serif;
}

.main {
  display: flex;
  justify-content: space-between;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  background-color: var(--White);
  padding: 1rem;
  border-radius: 20px;
  width: 900px;
}

.left {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.left h1 {
  font-size: 60px;
  font-weight: 700;
  padding: 1rem;
}

.left p {
  font-size: 16px;
  font-weight: 400;
  padding: 1rem;
  width: 90%;
}

.left ol {
  list-style-image: url(images/icon-list.svg);
  list-style-position: inside;
  font-size: 16px;
  font-weight: 400;
  margin-left: 3rem;
}

.left li {
  padding: 0.5rem;
}

form {
  display: flex;
  flex-direction: column;
  align-self: flex-start;
  margin-top: 1rem;
  margin-left: 1rem;
}

form label,
input,
button {
  margin: 0.5rem;
  margin-left: 2rem;
}

label {
  display: flex;
  justify-content: space-between;
}

.valid {
  color: var(--tomato);
  display: none;
}

form label {
  font-size: 12px;
  font-weight: 700;
  margin-top: 1rem;
}

form input {
  padding: 1rem;
  border: solid var(--CharcoalGrey) 1px;
  border-radius: 10px;
  width: 80%;
}

form button {
  padding: 1rem;
  font-weight: 700;
  color: var(--White);
  background-color: var(--DarkSlateGrey);
  border-radius: 10px;
  border: none;
  font-size: 16px;
  width: 80%;
  transition: ease-in-out;
}

form input:hover,
form button:hover {
  cursor: pointer;
}

form button:hover {
  background: linear-gradient(to bottom right, var(--tomato), var(--tomato1));
  box-shadow: 3px 7px 10px var(--tomato1);
  transition: 0.4s ease-in-out;
}

.success {
  background-color: var(--White);
  border-radius: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 370px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  padding: 2rem;
}

.img {
  max-width: 35px;
  align-self: flex-start;
  margin-bottom: 1rem;
}
.success h2 {
  font-size: 30px;
  font-weight: 700;
  margin-bottom: 1rem;
}

.success p {
  font-size: 14px;
  font-weight: 700;
  color: var(--CharcoalGrey);
  line-height: 1.5rem;
}

.dismiss {
  padding: 1rem;
  color: var(--White);
  background-color: var(--DarkSlateGrey);
  border-radius: 10px;
  border: none;
  font-size: 16px;
  transition: ease-in-out;
  margin: 0 auto;
  margin-top: 2rem;
  transition: ease-in-out;
}

.dismiss:hover {
  cursor: pointer;
  background: linear-gradient(to bottom right, var(--tomato), var(--tomato1));
  box-shadow: 3px 7px 10px var(--tomato1);
  transition: 0.6s ease-in-out;
}

.hidden {
  display: none;
}
@media screen and (max-width: 890px) {
  .main {
    position: static;
    flex-direction: column-reverse;
    transform: translate(0);
    padding: 0;
    border-radius: 0;
    height: 100vh;
    overflow-y: scroll;
  }

  picture {
    max-width: 100%;
  }

  .left {
    padding-left: 1rem;
    width: 92%;
  }

  .left h1 {
    font-size: 45px;
  }

  .left p {
    margin: 0;
    padding-left: 0;
  }

  .left li {
    list-style-position: outside;
    margin-left: 1rem;
  }

  form label,
  input,
  button {
    margin-left: 0;
  }

  form button,
  input {
    max-width: 92%;
  }

  .success {
    height: 100%;
    width: 100%;
    align-items: center;
    justify-content: center;
    border-radius: 0;
  }

  .dismiss {
    position: absolute;
    top: 82%;
    width: 80%;
  }
}
